facsimileSize = 300px
msGray = #666
labelWidth = 160px
leftWidth = 15%
middleWidth = 50%
rightWidth = 25%
marginWidth = 2.5%
marginLeft = leftWidth + (2 * marginWidth)

body > .main > .codex
	// max-width 1400px
	line-height 2em

	& > div.small-facsimile
		h2
			width 70%

		aside
			width 5%

		.tab-container
			width 70%

		.pagination
			width 5%
			line-height 1em

			.pageNameSingular, .pageNamePlural
				display none

			.text
				width 100%
				text-align center

	h2
		font-size 1.5em
		margin-left marginLeft
		padding 1.5em 0
		width middleWidth
		color msDarkerBlue

	svg.edit
		width 20px
		// height 16px
		fill msBlue
		cursor pointer
		margin-left 12px

	h2
		transition initial
		// transition line-height 250ms

	h3, h4
		margin-top 20px

	h3
		padding 1em 0 0 0
		margin-bottom 0.5em
		border-bottom 1px solid #CCC
		font-weight normal
		font-size 1em

		div
			inline-block()
			min-width 32%
			color #444
			background #EEE
			padding 0 8px
			border-top-left-radius 6px
			border-top-right-radius 6px

	h4
		font-weight normal
		padding-left 8px

	ul, ol
		list-style none
		margin 0
		padding 0

	button
		font-size 1em
		line-height 1.5em

	div.summary
		padding-left 8px

	.pagination
		width rightWidth
		text-align right
		position absolute
		right marginWidth
		margin-top 34px

	ul.tabs, aside
		inline-block()

	ul.tabs
		width leftWidth
		margin 0 marginWidth

		li.tab
			margin-bottom 1em

			button
				width 100%
				text-align left
				color msLightBlue

				small
					font-size 1.3em
					float right

			&.active button
				color white

		li.metadata
			font-size 0.8em
			color #666
			line-height 1.5em

			span
				display block

			li.identifiers
				margin-top 3em

			li.created, li.changed
				color #AAA

			li.created
				margin 2em 0

	aside
		float right

	.tab-container, aside, .pagination
		transition width 250ms

	.tab-container
		inline-block()
		width middleWidth
		max-width 800px
		background-color white
		padding 20px
		box-shadow 0 0 6px #999
		border-radius 3px
		margin-bottom 100px

		// Set tagname (div) to distinguish from li.tab
		div.tab
			display none

			&.active
				display block

			&.metadata, &.textual-units, &.marginal-units
				label, span
					inline-block()

				label
					color msGray
					width 35%
					padding-left 8px

				span
					width 65%

			ul.provenances, ul.layouts
				& > li
					border 1px solid #CCC
					// margin-left 20px
					padding 8px

					label
						padding 0

					& + li
						margin-top 10px

			ul.layouts, ul.quantative-analysis
				color msGray

			ul.layouts
				position relative

				canvas
					position absolute
					top 8px
					right 8px

			ul.urls, ul.bibliographies, ul.quantative-analysis
				padding-left 8px

			ul.urls > li
				overflow-x auto

			ul.locality
				inline-block()

				li
					inline-block()

					& + li:before
						content: ", "

			span.certainty
				width auto
				color #888
				inline-block()
				margin-left 0.3em

			&.textual-units, &.marginal-units
				ol
					list-style decimal
					margin-left 20px
				ul
					margin-bottom 20px

			&.textual-units
				ul.authors
					inline-block()

			&.marginal-units
				ul.specific-phenomena, ul.type, ul.annotators, ul.origin
					// list-style square
					margin 1em 0 1em 0
					margin-left 60px

					ul
						border 1px solid #DDD
						padding 10px

			&.raw
				overflow-x auto
				font-size 0.75em

	aside
		width rightWidth
		margin 0 marginWidth

		img
			cursor pointer
			max-width 100%
			box-shadow 2px 2px 6px msGray