facsimileSize = 300px
msGray = #666
labelWidth = 160px

body > .main > .codex
	max-width 1400px
	line-height 1.5em
	
	h2
		margin-left 20%
		padding 1.5em 0
		
	h3
		padding 1em 0 0.5em 0
		
	ul, ol
		list-style none
		margin 0
		padding 0
		
	button
		font-size 1em
		line-height 1.5em
	
	ul.tabs, aside
		inline-block()
				
	ul.tabs
		width 15%
		margin 0 2.5%
		
		li.tab
			margin-bottom 1em
			
			button
				width 100%
				text-align left
				color msLightBlue
				
				small
					font-size 1.3em
					float right
				// small
				// 	margin-left 4px
				// 	font-size 0.75em
				
			&.active button
				color white

	// Set tagname (div) to distinguish from li.tab
	div.tab
		width 50%
		display none
	
		&.active
			inline-block()
			margin-bottom 100px
			
		&.metadata, &.textual-units, &.marginal-units, &.raw
			background-color msLighterBlue
			padding 20px
			box-shadow 0 0 6px msDarkBlue
			border-radius 3px

		&.metadata, &.textual-units
			label, span
				inline-block()
				
			label
				color msGray
				width 35%
				
			span
				width 65%
				
		&.textual-units
			ol
				list-style decimal
				margin-left 20px
			ul
				margin-bottom 20px
			
		&.raw
			overflow-x auto
			font-size 0.75em
		
	aside
		width 20%
		margin 0 5%
		
		img
			max-width 100%
			box-shadow 2px 2px 6px msGray
			// max-height 100%