ul.medium.formpart(data-cid=model.cid)
	li
		label Title
		input.large(name="title", data-view-id=viewId, value=model.get('title'))
	li
		label Authors
		.authors-placeholder.placeholder
	li
		label Period
		.period-placeholder.placeholder
	li
		label Content Type
		.contentTypes-placeholder.placeholder