body > header
	background msBlue
	padding 15px 40px 15px 40px
	box-shadow 0 1px 3px msDarkBlue
	margin-bottom 20px
	position relative
	
	h1, h1 small
		color white
		font-size 2em
		text-shadow 1px 1px 1px msDarkBlue
		
	h1
		small
			font-size 0.5em
			position absolute
			top 29px
			padding-left 8px
			// left 330px