h1 Marginal Scholarship
	small in early medieval Europe
.logos
	img.knaw(src="/images/knaw-logo.svg", title="Koninklijke Nederlandse Akademie van Wetenschappen")
	img.huygens(src="/images/huygens-logo.svg", title="Huygens ING")
	img.nwo(src="/images/nwo-logo.svg", title="Nederlandse Organisatie voor Wetenschappelijk Onderzoek")
.login
.tabs