ul.tabs
	li.active(data-tab="codex") Codex
	li(data-tab="margin") Margin
	li(data-tab="text") Text
	li(data-tab="person") Person


div.tab.codex.active
	.facet_s_codex_top_marginfill_pct-placeholder
	.facet_s_codex_origin_place-placeholder
	.facet_s_codex_provenance_place-placeholder
	.facet_s_codex_origin_region-placeholder
	.facet_s_codex_provenance_scriptorium-placeholder
	.facet_s_codex_origin_scriptorium-placeholder
	.facet_s_codex_script_type-placeholder
	.facet_s_codex_marginal_space-placeholder
	.facet_s_codex_pct_annotated_pages-placeholder
	.facet_s_codex_place_of_preservation-placeholder
	.facet_s_codex_pct_blank_pages-placeholder
	.facet_s_codex_provenance_region-placeholder
	
div.tab.margin
	.margin_date_range-placeholder
	.facet_s_margin_type-placeholder
	.facet_s_margin_origin_place-placeholder
	.facet_s_margin_language-placeholder
	.facet_s_margin_script_type-placeholder
	.facet_s_margin_origin_scriptorium-placeholder
	.facet_s_margin_origin_region-placeholder
	.facet_s_margin_phenomenon-placeholder

div.tab.text
	.date_range-placeholder
	.facet_s_text_title-placeholder
	.facet_s_text_type-placeholder
	.facet_s_text_period-placeholder
	.facet_s_text_author-placeholder

div.tab.person
	.facet_s_person_role-placeholder
	.facet_s_person_name-placeholder
