ul.formpart
	li
		input(data-view-id=viewId, id="q9dkj4jcsn1", value="Evina", type="checkbox" checked=(value.indexOf('Evina') > -1))
		label(for="q9dkj4jcsn1") Evina
	li
		input(data-view-id=viewId, id="cnwqps82ng0", value="Irene", type="checkbox" checked=(value.indexOf('Irene') > -1))
		label(for="cnwqps82ng0") Irene
	li
		input(data-view-id=viewId, id="ckpqie733k", value="Mariken", type="checkbox" checked=(value.indexOf('Mariken') > -1))
		label(for="ckpqie733k") Mariken